@charset "utf-8";

body {
 font-family: 'Poppins', sans-serif;
 margin: 0px;
}

section {
 
 background-color: white;
}

.hero {
 background-color: #023047;
 height: 100vh;
 color: white;
 font-size: 40px;
}

footer {
 height: 500px;
 color: white;
 background-color: black;
 text-align: center;
}

nav {
 display: flex;
 justify-content: space-between;
}

ul {
 display: flex;
 list-style-type: none;
 width: 500px;
 justify-content: space-around;
 font-size: 30px;
}

ul.show {
 display: block;
}

li {
 /*width: 230px;*/
 text-decoration: none;
}

h1 {
 font-size: 90px;
 margin: 0px;
}

p {
 margin: 0px;
 font-size: 30px;
 font-weight: 300;
}

.subtext {
 font-size: 15px;
 font-weight: 300px;
}

.hero-area {
 display: flex;
 height: 100%;
 justify-content: space-between;
 align-items: center;
}


.hero-text {
 margin-left: 40px;
 margin-bottom: 200px;
}

.button {
 width: 200px;
 height: 50px;
 border-radius: 30px;
 background-color: #FB8500;
 text-align: center;
 font-size: 30px;
 font-weight: 300;
 padding-top: 5px;
 margin-top: 20px;
 cursor: pointer;
 transition: 0.3s;
}

.button:hover {
 background-color: rgb(201, 63, 17);
}

.button:active {
 background-color: darkgrey;
 color: #808080;
}

.socials {
 padding-bottom: 200px;
}

.social {
 margin: 10px;
}

.logo {
 height: 100px;
 margin-left: 40px;
 margin-top: 35px;
}

.logo2 {
 align-items: center;
 height: 100px;
 padding: 80px;
}

.sub-section {
 display: flex;
 justify-content: space-around;
 padding: 80px;
}

.sub-section-alternative {
 display: flex;
 flex-direction: column;
 text-align: center;
 padding: 80px;
}

h2 {
 font-size: 80px;
}

.headshot {
 width: 280px;
 border-radius: 150px;
}

.headshot-container {
 display: flex;
 align-items: center;
}

@media only screen and (max-width: 1000px) {
 .project-container {
  display: flex;
  flex-wrap: wrap;
 }
}

.project-card {
 width: 315px;
 height: 630px;
 box-shadow: 5px 5px 20px grey;
}

.project-container {
 display: flex;
 justify-content: space-around;
}

.job-image {
 margin-top: 25px;
 width: 250px;
 height: 150px;
 border-radius: 25px;
}

a {
 text-decoration: none;
 color: white;
}

.nav {
 color: white;
 text-decoration: none;
}

.nav:hover {
 color: #219EBC;
 transition: color .3s;
}

.menu {
 display: none;
}

.menu:focus {
 outline: 0;
}

@media only screen and (max-width: 1000px) {
 .menu {
  display: block;
  border: 0;
  background-color: transparent;
  color: white;
  font-size: 30px;
  margin: 20px;
  align-self: flex-end;
 }

 ul {
  display: none;
  background-color: #023047;
  margin: 0px;
 }

 nav {
  display: flex;
  flex-direction: column-reverse;
  background-color: #023047;
 }

 .logo {
  display: none;
 }

}